:root {
    /* Ana Renkler*/
    --color-snowwhite: #FFFAFA;
    --color-red-primary: #E63946;
    --color-gray-dark: #2B2D42;
    --color-black-text: #1A1A1B;
    
    /* Ekstra Renkler*/
    --color-blue-steel: #457B9D;
    --color-blue-light: #F1F3F5;

    /* Ability level renkleri */
    --color-ability-1: #1E88E5; /* parlak mavi */
    --color-ability-2: #00ACC1; /* cyan */
    --color-ability-3: #00BFA5; /* turkuaz */
    --color-ability-4: #2ECC71; /* canlı yeşil */
    --color-ability-5: #6AFF3D; /* parlak açık yeşil */

    /* krem*/
    --color-reading-1: #F6F3EB;
    --color-reading-2: #EFE9DC;
}
/* var(--color-snowwhite) */

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.header {
  padding: 2px 2px;
}

.nav {
  display: flex;
  gap: 18px;           /* linkler arası boşluk */
}

.nav-link {
  color: var(--color-black-text);                 /* font beyaz */
  text-decoration: none;
  font-weight: 500;
  padding: 12px 12px;
  border: 2px solid transparent; /* hover için yer ayır */
  border-radius: 4px;
  background-color:transparent;
  transition: 
    border-color 2.5s ease,
    background-color 2.5s ease,
}
.nav-link:hover {
    /*
  border-color: var(--color-blue-steel);*/
  background-color: var(--color-black-text);
  color: var(--color-snowwhite);
}

.horizontal-layout {
    display: flex; 
    gap: 15px; 
    align-items: center;     /* dikey */
    /*justify-content: center; yatay*/
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    color: var(--color-gray-dark);
}

.page-title-container {
  height:20px;
  width: 5px; 
  background-color: var(--color-gray-dark);
  border-radius: 5px;
}

.div_card {
  background-color: var(--color-red-primary);
  border-radius: 25px;
  padding: 15px;

  align-items: center;      /* dikey */
  justify-content: center;  /* yatay */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  height: min-content;
}

/*Element Listing*/
.elements-ul {
  padding-left: 0;
  margin-left: 0;
  list-style: none;   /* none marker */
  gap: 20px;
  display: flex;
  flex-direction: column; /* dikey liste */
  gap: 12px;   
}
.element-li {
  padding: 10px 10px;
  background-color: var(--color-snowwhite);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--color-snowwhite);
  transition: 
    box-shadow 0.3s ease,
    background-color 0.7s ease,
    border 0.8s ease,
    transform 0.3s ease;
}
.element-li:hover {
  background-color: var(--color-red-primary);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  border: 4px solid var(--color-gray-dark);
}
.element-li a div {
  color: var(--color-gray-dark);
}

.chilling {
  animation: moveY 3.0s ease-in-out infinite alternate;
}

/* her elemana farklı gecikme */
.chilling:nth-child(1) { animation-delay: 0s; }
.chilling:nth-child(2) { animation-delay: 0.9s; }
.chilling:nth-child(3) { animation-delay: 0.5s; }

@keyframes moveY {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}


.bg-slider {
  position: fixed;
  inset: 0;
  width: 300vw;
  height: 100vh;
  display: flex;
  transition: transform 0.8s ease-in-out;
  z-index: -1;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* örnek renkler / görseller */
.step-1 { background: linear-gradient(120deg, white, white); }
.step-2 { background: linear-gradient(120deg, var(--color-reading-1), var(--color-reading-2)); }
.step-3 { background: linear-gradient(120deg, var(--color-blue-steel), var(--color-ability-3)); }

.color-btn {
  padding: 2px 10px;
  background-color: white;
  color: var(--color-gray-dark);
  border: 2px solid var(--color-gray-dark);
  border-radius: 10px;
  font-size: 12px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background: var(--color-blue-light);
  color: var(--color-gray-dark);
}
