{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='add_post.css') }}">
{% endblock %}


{% block content %}

<div class="horizontal-layout" style="gap:5px">
  <div class="page-title-container"></div>
  <h1>Add New Post</h1>
</div>

<form class="post-form" method="POST" enctype="multipart/form-data">
  <input type="password" name="psw" placeholder="Key" required>

  <input type="text" name="title" placeholder="Post Title" required>

  <!-- Kategori Seçimi -->
  <select name="category_select" id="categorySelect" onchange="toggleNewCategory()" required>
    <option value="" disabled selected>Select Category</option>
    {% for cat in categories %}
    <option value="{{ cat }}">{{ cat.replace('-', ' ').title() }}</option>
    {% endfor %}
    <option value="__new__">+ New Category</option>
  </select>

  <div id="newCategoryFields" style="display:none;">
    <input type="text" name="new_category" placeholder="New Category Name">
    <input type="text" name="new_keywords" placeholder="Keywords: #ai #deep-learning">
  </div>

  <label class="file-upload">
    <input type="file" name="file" accept=".md" required hidden>
    <span>📄 Choose Markdown File</span>
  </label>

  <button type="submit">Submit</button>
</form>

<script>
  function toggleNewCategory() {
    const select = document.getElementById("categorySelect");
    const fields = document.getElementById("newCategoryFields");
    fields.style.display = select.value === "__new__" ? "flex" : "none";
  }
</script>

{% endblock %}