{% extends "base.html" %}
<!-- Base.html dosyasını extend eder ve sonrasında bu sayfanın özelliklerini gösterir.-->

{% block title %}Notes{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='posts.css') }}">
{% endblock %}

{% block content %}
<div class="horizontal-layout" style="gap:5px">
    <div class="page-title-container"></div>
    <h1>Notes</h1>
</div>
<div class="search-container">
    <input type="text" id="noteSearch" placeholder="Search Note or #keyword" onkeyup="filterNotes()" />
</div>

<div class="grid-container">
    <div class="div_card grid-column-left" style="padding: 25px 25px;"><!-- left group-->
        <ul class="elements-ul" id="notesList">
            {% for note in notes %}
            <li class="element-li" data-keywords="{{ note.keywords | join(' ') | lower }}">
                <a href="{{ url_for('show_note', category=note.category, note_id=note.slug) }}">
                    <h4 class="post-title">{{ note.title }}</h4>
                    <div class="item-meta">
                        <span class="item-category-badge">{{ note.category.lower() }}</span>
                        {% for kw in note.keywords %}
                        <span class="item-keyword-badge">{{ kw }}</span>
                        {% endfor %}
                    </div>
                    <div>{{ note.date }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="div_card grid-column-right">
        <div class="horizontal-layout" style="justify-content: space-between;align-items: center;">
            <div></div>
            <div class="inner-title">Last Note</div>
        </div>
        <div class="horizontal-layout"
            style="justify-content: space-between; align-items: center; /* dikey hizalama */">
            <h3>{{example_content.name}} </h3>
            <span>{{ example_content.date }}</span>
        </div>
        <div style="height: 5px;"></div>
        <div class="example_content inner-item">
            {{ example_content.example_content|safe }}
        </div>
    </div>
</div>

<!-- Note Searching-->
<script>
    function filterNotes() {
        const input = document.getElementById("noteSearch");
        const filter = input.value.toLowerCase();
        const list = document.getElementById("notesList");
        const items = list.getElementsByClassName("element-li");

        for (let i = 0; i < items.length; i++) {
            const title = items[i]
                .querySelector(".post-title")
                .innerText
                .toLowerCase();
            const keywords = items[i].getAttribute("data-keywords") || "";

            if (title.includes(filter) || keywords.includes(filter)) {
                items[i].style.display = "";
            } else {
                items[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %}