<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Upload – {{ project_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='update_project.css') }}">
</head>
<body>

<form
  class="post-form"
  method="POST"
  enctype="multipart/form-data"
>
    <h2>Update: {{ project_id }}</h2>

    <input
      type="password"
      name="key"
      placeholder="Auth key"
      required
    >

    <label class="file-upload">
        Markdown dosyası seç
        <input
          type="file"
          name="file"
          accept=".md"
          required
          hidden
        >
    </label>

    <button type="submit">Yükle</button>
</form>


</body>
</html>
