<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Upload – {{ note_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='update_post.css') }}">
</head>

<body>

    <form class="post-form" method="POST" enctype="multipart/form-data">
        <h2>Update: {{ note_id }}</h2>
        <input class="form-input" type="password" name="key" placeholder="Auth key" required>

        <label class="file-upload">
            Open markdown file
            <input type="file" name="file" accept=".md" required>
        </label>

        <button type="submit" name="action" value="upload">
            Update
        </button>
    </form>

    <form class="post-form" method="POST">
        <h2>Edit Content</h2>
        <input class="form-input" type="password" name="key" placeholder="Auth key" required>

        <label class="file-upload">
            <textarea name="content"
                style="width: 100%; height: 400px; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-family: monospace;">{{ content }}</textarea>
        </label>

        <button type="submit" name="action" value="save">
            Save
        </button>
    </form>

    <form class="post-form" method="POST">
        <h2>Remove: {{ note_id }}</h2>

        <input class="form-input" type="password" name="key" placeholder="Auth key" required>

        <input class="form-input" type="text" name="confirm_slug" placeholder="Rewrite the slug" required>

        <button type="submit" name="action" value="delete" class="delete-btn">
            Delete Note
        </button>

    </form>


</body>

</html>